.details-price {
  font-size: 1.5rem;
  font-weight: 700;
}
.available-stock {
  color: rgb(172, 168, 175);
}
.rating-score {
  font-size: 42px;
  color: #ffc107;
  font-weight: bold;
}
.total-qualifications {
  font-size: 14px;
  color: #6c757d;
}

.rate-list-username {
  font-size: 18px;
  font-weight: bold;
}

.title-view {
  font-weight: bold;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.slide-fade-enter-active {
  transition: all 0.9s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(80px);
  opacity: 0;
}


